/* 
@media (min-width: 400px) {
    .registerContainer{
        margin-left: 3vw;
    margin-right: 3vw;
    }
  }
  @media (min-width: 500px) {
    .registerContainer{
        margin-left: 12vw;
    margin-right: 12vw;
    }
  }
  @media (min-width: 650px) {
    .registerContainer{
        margin-left: 19vw;
    margin-right: 19vw;
    }
  }
  @media (min-width: 800px) {
    .registerContainer{
        margin-left: 24vw;
    margin-right: 24vw;
    }
  }
  @media (min-width: 950px) {
    .registerContainer{
        margin-left: 30vw;
    margin-right: 30vw;
    }
  }
  @media (min-width: 1400px) {
    .registerContainer{
        margin-left: 34vw;
    margin-right: 34vw;
    }
  }
  @media (min-width: 1600px) {
    .registerContainer{
        margin-left: 37vw;
    margin-right: 37vw;
    }
  } */
.title{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
    text-align: center;

}
.registerContainer{
  max-width: 440px;
  
  margin-left: auto;
  margin-right: auto;
}

.registerFields{
 max-width: 440px;
 
}

.example-full-width {
  width: 100%;
}
.example-full-width input {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.emailField{
  margin-bottom: 5px;
}
@media (min-width: 400px) {
    .registerFormCard{
        padding-left: 15%;
        padding-right: 15%;
    }
  }
.gender{
    /* width: 180px; */
}
.textAreaField{
    width: 100%;

}
.textArea{
    height: 100px;
}
.submit-bottom-right {

    text-align: center;
    display: inline-block;
    width: 100%;

  }

/* Change label color on focused */
::ng-deep .green-input .mat-form-field-label {
  color: green ;
}

/* underline border color on focused */
::ng-deep
  .mat-focused.green-input
  .mat-form-field-underline
  .mat-form-field-ripple {
  background-color: green ;
}
::ng-deep
  .mat-focused.gray-input
  .mat-form-field-underline
  .mat-form-field-ripple {
  background-color: gray ;
}