<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="over" class="drawer">
    <h3 class="title">Menu</h3>
    <mat-label>
      <button mat-button class="label-button home" color="primary" routerLink="home">Home</button>
      <br>
      <button mat-button class="label-button register" color="primary" routerLink="register">Register</button>
    </mat-label>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary" style=" left: 0 ; right: 0;top: 0; width: 100%;  position: fixed; z-index: 100;">
      <button mat-raised-button (click)="drawer.toggle()">Menu</button>
    </mat-toolbar>
    <div class="container" style="margin-top: 70px;">
      <router-outlet></router-outlet>
    </div>




  </mat-sidenav-content>
</mat-sidenav-container>